<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                {% if form.username.errors %}
                <div>{{ form.username.errors|first }}</div>
                {% endif %}
            </div>
            <div>
                {% if form.email.errors %}
                <div>{{ form.email.errors|first }}</div>
                {% endif %}
            </div>
            <div>
                {% if form.password1.errors %}
                <div>{{ form.password1.errors|first }}</div>
                {% endif %}
            </div>
            <div>
                {% if form.password2.errors %}
                <div>{{ form.password2.errors|first }}</div>
                {% endif %}
            </div>
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
